<div class="row">
  <nav class="z-depth-0">
    <div class="nav-wrapper white">
      <div class="col s8 m9 l7">
        <a [routerLink]="['../']" class="breadcrumb grey-text">Dashboard</a>
        <a [routerLink]="['./']" class="breadcrumb active">Property</a>
      </div>
      <!--   
           <div class="col s2 m1 l1">
              <a class="waves-effect  green btn-large modal-trigger" href="#modal12"  style="    height: 42px;
              line-height: 43px;
              padding: 0px 20px;"              
                (click)="downloadexcel()"><i class="large material-icons" style="font-size: 2rem; height: 42px;
              line-height: 43px;">grid_on</i></a> 
          </div>   
           <div class="col s2 m1 l1">
              <a class="waves-effect  brown btn-large modal-trigger" style="    height: 42px;
              line-height: 43px;
              padding: 0px 20px;"              
                (click)="downloadpdf()"><i class="large material-icons" style="font-size: 2rem; height: 42px;
              line-height: 43px;">picture_as_pdf</i></a> 
          </div>     
          -->
      <div class="col s2 m2 l4">
        <a
          class="waves-effect orage darken-4 btn-large"
          style="height: 42px; line-height: 43px; padding: 0px 20px"
          [routerLink]="['./propertiesdetails']"
          href="!#"
        >
          <i
            class="large material-icons"
            style="font-size: 2rem; height: 42px; line-height: 43px"
          >
            add
          </i>
        </a>
      </div>
    </div>
  </nav>
  <div style="padding: 5px">
    <div style="padding: 0px 10px">
      <table class="highlight bordered" style="border: 1px solid #ddd">
        <thead class="orange lighten-5">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Address</th>
            <!-- <th>Password</th> -->
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let record of records">
            <td>{{ record.propertyId }}</td>
            <td>{{ record.title }}</td>
            <td>{{ record.description }}</td>
            <td>{{ record.address }}</td>
            <!-- <td>{{ record.password }}</td> -->
            <td>{{ record.city }}</td>
            <!-- <td>{{ record.address }}</td>
            <td>{{ record.registrationDate | date : "short" }}</td> -->
            <td>
              <!-- Add action buttons here, e.g., Edit, Delete -->
              <button
                class="btn btn-sm white-text no-border orange"
                (click)="edit(record.propertyId)"
              >
                Edit
              </button>
              <button
                class="btn btn-sm white-text no-border red"
                (click)="delete(record.propertyId)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="progress" *ngIf="isLoading">
        <div class="indeterminate"></div>
      </div>

      <my-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        [pagesToShow]="10"
        [page]="page"
        [perPage]="limit"
        [count]="total"
      >
      </my-pagination>
    </div>
  </div>
</div>
